/* rolagem suave */
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  overflow-x: hidden;
}
.clientes {
  text-align: center;
  padding: 40px 20px;
  background-color: #d9d9d9;
}



.clientes-carousel {
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
}

.clientes-slider {
  display: flex;
  gap: 60px;
  animation: scroll 60s linear infinite;
  width: max-content;
}

.clientes-slider img {
  max-height:  150px;
  object-fit: contain;
  flex-shrink: 0;
}

/* Responsivo para telas pequenas */
@media (max-width: 1200px) {

  .clientes-slider {
    gap: 80px;
  }

  .clientes-slider img {
    height: 140px;
  }
}

@media (max-width: 768px) {


  .clientes-slider {
    gap: 40px;
  }

  .clientes-slider img {
    height: 120px;
  }
}

@media (max-width: 480px) {

  .clientes-slider {
    gap: 30px;
  }

  .clientes-slider img {
    height: 100px;
  }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}



/* ======== Estilo geral do corpo da página ======== */
body {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  align-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0;
  padding-top: 90px; /* Espaço para a navbar fixa */
}

/* ======== Títulos principais ======== */
h2 {
  color: #FFC545;
  font-size: 50px;
}

/* ======== Estilo para listas sem marcadores ======== */
ul li {
  list-style-type: none;
}

/* ======== Navbar principal ======== */
main {
  padding-top: 100px; /* ou ajuste de acordo com a altura da navbar */
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #43C153;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  transition: all 0.3s ease;
}


/* ======== Navbar encolhida ======== */
.navbar.shrink {
  padding: 20px 0; 
}
@media (max-width: 768px) {
  .navbar.shrink {
    padding: 4px 0; 
  }

  .navbar #logo-objetivasipatbrasil {
    width: 85px !important;
    top: 30px !important;
    left: -0px !important;
  }
  .navbar-textos, .navbar-links {
    left: 42% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px !important; /* ou 10px, 8px, etc. */
  }

  #logos-redessociais {
    left: 47% !important; 
    transform: translateX(-50%);
  }
}

/* ======== Container centralizado da navbar ======== */
.container-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  min-height: 70px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

/* ======== Logo fixa na esquerda da navbar ======== */
#logo-objetivasipatbrasil {
  position: fixed;
  top: 55px;
  left: clamp(-10px, 0vw, 60px);
  transform: translateY(-50%);
  width: clamp(90px, 12vw, 170px);
  transition: all 0.3s ease;
  z-index: 1000;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: clamp(10px, 2vw, 30px);
  text-align: center;
}

.navbar.shrink #logo-objetivasipatbrasil {
  top: 40px; 
  width: 120px;
}

/* ======== Links da navbar ======== */
@media(max-width:1260px) {
  .navbar a {
    font-size: 20px !important; 
  }

}
@media(max-width:1150px) {
  .navbar a {
    font-size: 18px !important; 
  }
}
@media(max-width:1070px) {
  .navbar a {
    font-size: 17px !important; 
  }
}
@media(max-width:1014px) {
  .navbar a {
    font-size: 18px !important; 
  }
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  font-size: clamp(22px, 1.2vw, 22px); /* texto responsivo */
  padding: 8px clamp(8px, 1vw, 16px);
  white-space: nowrap
}

.navbar a:hover {
  border-bottom: 3px solid #2a7a34;
  padding-bottom: 5px;
}
.navbar a#vamo:hover {
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
.navbar a#porra:hover {
  border-bottom: none;
  padding-bottom: 0;
}

.navbar.shrink .navbar-links {
  font-size: clamp(11px, 1vw, 16px);
}

/* ======== Ícones das redes sociais ======== */
#logos-redessociais {
  display: flex;
  gap: 15px;
  position: absolute; 
  right: -40px; 
  top: 80%; 
  transform: translateY(-50%);
}

#logos-redessociais img {
  width: 60px;
  height: auto;
  transition: all 0.3s ease;
}
@media (max-width: 1820px) {
  #logos-redessociais img {
    width: 50px;
  }
}

.navbar.shrink #logos-redessociais img {
  width: 40px;
}

@media (max-width: 1440px) {
  #logos-redessociais {
    top: 85%;
    margin: 0; 
    right: -30px;
    padding: 0;
    gap: 0px;
  }
  #logos-redessociais img {
    width: 50px;
  }
  .navbar.shrink #logos-redessociais {
    gap: 0px;
    top: 81%;
  }
  .navbar.shrink #logos-redessociais img {
    width: 35px;
  }

  .navbar-textos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* controla o espaço entre os links */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-left: clamp(300px, 20vw, 250px);
    max-width: calc(100% - 200px); /* garante que não encoste na logo */
  }
  .navbar a{
    gap: 2px;
    font-size: clamp(14px, 1.5vw, 21px); /* 21px no máximo, 14px no mínimo */
    padding: 5px 8px;
  }

}


/* ======== Fundo amarelo no topo da página ======== */
.top-background {
  background-color: #ffc545; 
  height: 200px; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media(max-width: 768px) {
  .top-background {
    display: none !important;
  }
 #toma {
  margin-top: -7.4em !important;
 }

  .wave {
    background: url(/Assets/image/wave_amarelo_sem_gradiente.svg) repeat-x;
    background-size: 750px 100% !important; /* Reduz a largura da onda visível */
  }
  .wave:nth-of-type(2) {
    animation: wave 11s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7777777777777s ease -1.25s infinite !important; 
    opacity: 0.5;
    top: -346px !important;
    background-size: 760px 70% !important; /* Reduz a largura da onda visível */
  }
  .mascote {
    margin-top: -6.5em;
  }
}

@media(max-width: 1040px) {
  .top-background {
    top: 30px;
  }
}
@media(max-width: 800px) {
  .top-background {
    top: 40px;
  }
}

/* ======== Seção de destaque (mascote + texto na elipse) ======== */
.section-satisfacao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -160px; 
  position: relative;
  gap: 60px;
  padding: 435px 20px 0 20px;
  flex-wrap: wrap;
}

/* Mascote (imagem do SIPATzinho FUDIDO DESGRAÇADO ESPERO QUE O SIPATZINHO 
QUEIME NO INFERNO PARA TODA ETERNIDADE) */
.mascote img {
  width: 460px; 
  max-width: 100%;
  margin-top: -20px;
}

@media (max-width: 700px) {
  .mascote img {
    width: 350px !important;
    margin-top: -5.5em !important;
  }
}

@media (max-width: 1290px)  {
  .mascote img {
    width: 400px;
    margin-top: 0px !important;
  }
  .texto-elipse {
    position: relative;
    margin-bottom: 10px !important;
  }
}


/* Container do texto com a elipse azul */
.texto-elipse {
  position: relative;
  width: 680px; 
  margin-bottom: 100px;
}

.texto-elipse .elipse {
  width: 100%;
  height: auto;
  display: block;
}

.texto-elipse h1 {
  position: absolute;
  top: 42%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 61px;
  font-weight: 800;
  line-height: 1.4;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 720px)  {
  .texto-elipse h1{
    font-size: 50px !important;
  }
}
@media (max-width: 610px)  {
  .texto-elipse h1{
    font-size: 45px !important;
  }
}
@media (max-width: 550px)  {
  .texto-elipse h1{
    font-size: 40px !important;
  }
}
@media (max-width: 500px)  {
  .texto-elipse h1{
    font-size: 35px !important;
  }
}
@media (max-width: 480px)  {
  .texto-elipse h1{
    font-size: 30px !important;
  }
}
@media (max-width: 380px)  {
  .texto-elipse h1{
    font-size: 27px !important;
  }
}
@media (max-width: 350px)  {
    .mascote img {
      width: 200px !important;
      margin-top: -20px !important;
    }
  .texto-elipse h1{
    font-size: 24px !important;
  }
  .section-satisfacao {
    margin-bottom: -4em;
  }
}
/* ======== Rodapé da página ======== */
#rodape {
  position: relative;
  width: 100%;
  margin: 0;
}

#rodape img {
  width: 100%;
  height: auto;
  display: block;
}

#rodape h3 {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 28px;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  max-width: 90%;
  white-space: normal;
}

/* CELULAR*/
@media (max-width: 768px) {
  #rodape h3 {
    font-size: 18px;
    bottom: 20px;
  }
}

@media (max-width: 480px) {
  #rodape h3 {
    font-size: 14px;
    bottom: 15px;
  }
}

/* ======== Seção de Palestras ======== */

/* ======== Seção de Palestras ======== */
.Saude, .Comportamento, .Atividades {
  margin-top: 2em;
}
#comp {
  max-width: 800px;
  width: 100%;
}
#saudas {
  max-width: 952px;
  width: 100%;
}
.Seguranca, .Saude, .Comportamento, .Atividades {
  background-color: #D9D9D9;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
#seg {
  max-width: 713px;
  width: 100%; /* Adapta-se ao container pai */
}
.para-pales {
  font-size: 24px;
  font-weight: 500;
  padding: 0 20px; /* Um pouco de respiro nas laterais */
  box-sizing: border-box;
}



h3 {
  margin: 15px 0 0 0;
  font-size: 40px;
  font-weight: 600;
}
.card h4, .card-saude h4, .card-comportamento h4 {
  margin-top: 25px;
  font-size: 32px;
}
.card p, .card-saude p, .card-comportamento p {
  font-weight: 600;
  margin: 20px 20px 30px 20px;
  text-align: justify;
  font-size: 20px;
}

.love {
  display: flex;
  justify-content: center;
}



.carousel-container, .carousel-container-saude, .carousel-container-comportamento, .carousel-container-atividades{
	width: 100vw;
	height: 450px;
	position: relative;
	perspective: 1000px;
	margin-top: 25px;
  margin-bottom: 70px;
}

.carousel-track, .carousel-track-saude, .carousel-track-comportamento, .carousel-track-atividades{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card, .card-saude, .card-comportamento{
	position: absolute;
	width: 414px;
	height: 506px;
	background: white;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
	transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	cursor: pointer;
}


.card.center, .card-saude.center, .card-comportamento.center{
	z-index: 10;
	transform: scale(1) translateZ(0);
}

.card-atividades.center {
  z-index: 10;
  transform: scale(1) translateX(350px);
}

.card.left-2, .card-saude.left-2, .card-comportamento.left-2, .card-atividades.left-2 {
	opacity: 0;
	pointer-events: none;
}


.card.left-1, .card-saude.left-1, .card-comportamento.left-1{
	transform: translateX(-450px) scale(1) translateZ(0px);
	opacity: 1;
}
.card-atividades.left-1 {
  transform: translateX(-350px) scale(1) translateZ(0px);
	opacity: 1;
}

.card.right-1, .card-saude.right-1, .card-comportamento.right-1{
	z-index: 5;
	transform: translateX(450px) scale(1) translateZ(0px);
	opacity: 1;
}
.card-atividades.right-1 {
  transform: translateX(450px) scale(1) translateZ(0px);
  opacity: 0;
}

.card.right-2, .card-saude.right-2, .card-comportamento.right-2, .card-atividades.right-2{
	opacity: 0;
	pointer-events: none;
}

.card.hidden, .card-saude.hidden, .card-comportamento.hidden, .card-atividades.hidden{
	opacity: 0;
	pointer-events: none;
}

.nav-arrow, .nav-arrow-saude, .nav-arrow-comportamento, .nav-arrow-atividades{
	position: fixed; 
	top: 50%;
	transform: translateY(-50%);
	color: rgb(0, 0, 0);
	width: 100px;
	height: 100px;
  background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 20;
	transition: all 0.3s ease;
	font-size: 10rem;
	border: none;
	outline: none;
}

.nav-arrow:hover, .nav-arrow-saude:hover, .nav-arrow-comportamento:hover, .nav-arrow-atividades:hover {
	transform: translateY(-50%) scale(1.2);
}

.nav-arrow.left, .nav-arrow-saude.left-saude, .nav-arrow-comportamento.left-comportamento, .nav-arrow-atividades.left-atividades{
	left: 100px; 
}

.nav-arrow.right, .nav-arrow-saude.right-saude, .nav-arrow-comportamento.right-comportamento, .nav-arrow-atividades.right-atividades{
	right: 100px; 
}

@media (max-width: 1738px) { 
  .card, .card-saude, .card-comportamento{
    width: 384px;
    height: 476px;
	}
  .nav-arrow, .nav-arrow-saude, .nav-arrow-comportamento, .nav-arrow-atividades{
    font-size: 8rem;
    height: 60px;
    width: 60px;
  }
  .nav-arrow.left, .nav-arrow-saude.left-saude, .nav-arrow-comportamento.left-comportamento, .nav-arrow-atividades.left-atividades{
    left: 0; 
  }
  
  .nav-arrow.right, .nav-arrow-saude.right-saude, .nav-arrow-comportamento.right-comportamento, .nav-arrow-atividades.right-atividades{
    right: 0; 
  }
}
@media (max-width: 1430px) { 
  .card, .card-saude, .card-comportamento{
    width: 354px;
    height: 446px;
	}
  .card.left-1, .card-saude.left-1, .card-comportamento.left-1{
    transform: translateX(-380px) scale(1) translateZ(0px);
  }
  
  

  .card.right-1, .card-saude.right-1, .card-comportamento.right-1{
    transform: translateX(380px) scale(1) translateZ(0px);
  }
  
  .nav-arrow, .nav-arrow-saude, .nav-arrow-comportamento, .nav-arrow-atividades{
    font-size: 8rem;
    height: 60px;
    width: 60px;
  }
  .nav-arrow.left, .nav-arrow-saude.left-saude, .nav-arrow-comportamento.left-comportamento, .nav-arrow-atividades.left-atividades{
    left: 0; 
  }
  
  .nav-arrow.right, .nav-arrow-saude.right-saude, .nav-arrow-comportamento.right-comportamento, .nav-arrow-atividades.right-atividades{
    right: 0; 
  }
  .card h4, .card-saude h4, .card-comportamento h4 {
    font-size: 30px;
  }
  .card p, .card-saude p, .card-comportamento p {
    font-size: 18px;
  }
}

@media (max-width: 1264px) { 
  .carousel-container, .carousel-container-saude, .carousel-container-comportamento{
    margin-top: -30px;
  }
  .card, .card-saude, .card-comportamento{
    width: 314px;
    height: 406px;
	}
  .card h4, .card-saude h4, .card-comportamento h4 {
    font-size: 24px;
  }
  .card p, .card-saude p, .card-comportamento p {
    font-size: 17px;
  }
  .nav-arrow, .nav-arrow-saude, .nav-arrow-comportamento, .nav-arrow-atividades{
    font-size: 6rem;
    height: 60px;
    width: 60px;
  }
  .card.left-1, .card-saude.left-1, .card-comportamento.left-1{
    transform: translateX(-330px) scale(1) translateZ(0px);
  }

  .card.right-1, .card-saude.right-1, .card-comportamento.right-1{
    transform: translateX(330px) scale(1) translateZ(0px);
  }
}
@media (max-width: 1200px) { 
  .card, .card-saude, .card-comportamento{
    width: 284px;
    height: 376px;
	}
  .card h4, .card-saude h4, .card-comportamento h4 {
    font-size: 22px;
  }
  .card p, .card-saude p, .card-comportamento p {
    font-size: 16px;
  }
  .card.left-1, .card-saude.left-1, .card-comportamento.left-1{
    transform: translateX(-300px) scale(1) translateZ(0px);
  }

  .card.right-1, .card-saude.right-1, .card-comportamento.right-1{
    transform: translateX(300px) scale(1) translateZ(0px);
  }
}
@media (max-width: 1000px) { 
  .carousel-container, .carousel-container-saude, .carousel-container-comportamento{
    margin-top: -60px;
  }
  .card, .card-saude, .card-comportamento{
    width: 254px;
    height: 346px;
	}
  .card h4, .card-saude h4, .card-comportamento h4 {
    font-size: 20px;
  }
  .card p, .card-saude p, .card-comportamento p {
    font-size: 14px;
  }
  .card.left-1, .card-saude.left-1, .card-comportamento.left-1{
    transform: translateX(-270px) scale(1) translateZ(0px);
  }

  .card.right-1, .card-saude.right-1, .card-comportamento.right-1{
    transform: translateX(270px) scale(1) translateZ(0px);
  }
}

@media (max-width: 900px) {
  .carousel-container, .carousel-container-saude, .carousel-container-comportamento{
    margin-top: 20px;
  }
  .card, .card-saude, .card-comportamento{
    width: 414px;
    height: 506px;
	}
  .card h4, .card-saude h4, .card-comportamento h4 {
    margin-top: 25px;
    font-size: 32px;
  }
  .card p, .card-saude p, .card-comportamento p {
    font-weight: 600;
    margin: 20px 20px 30px 20px;
    text-align: justify;
    font-size: 20px;
  }
  .card.left-1, .card-saude.left-1, .card-comportamento.left-1{
		transform: translateX(-120px) scale(0.9) translateZ(-100px);
	}


  .card.right-1, .card-saude.right-1, .card-comportamento.right-1{
		transform: translateX(120px) scale(0.9) translateZ(-100px);
	}

}
@media (max-width: 670px) {
  .carousel-container, .carousel-container-saude, .carousel-container-comportamento{
    margin-top: 20px;
  }
  .card, .card-saude, .card-comportamento{
    width: 364px;
    height: 456px;
	}
  .card h4, .card-saude h4, .card-comportamento h4 {
    margin-top: 25px;
    font-size: 32px;
  }
  .card p, .card-saude p, .card-comportamento p {
    font-weight: 600;
    margin: 20px 20px 30px 20px;
    text-align: justify;
    font-size: 20px;
  }
  .card.left-1, .card-saude.left-1, .card-comportamento.left-1{
    opacity: 0;
	}


  .card.right-1, .card-saude.right-1, .card-comportamento.right-1{
    opacity: 0;
	}
}



.card-atividades {
  margin-top: 20px;
  position: absolute;
  width: 624px;
  height: 520px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card-atividades h4 {
  margin-top: -5px;
  font-size: 26px;
  padding: 0 20px;
  margin-bottom: 5px;
}
#ati {
  max-width: 782px;
  width: 100%;
}
.card-atividades p {
  font-weight: 500;
  margin: 10px 20px;
  text-align: justify;
  font-size: 20px;
}

.card-atividades .card-img {
  width: 93%;
  height: 233px;
  object-fit: cover;
  border-radius: 15px;
  margin: 30px auto 10px auto;
  display: block;
}
@media(max-width:1466px) {
  .card-atividades {
    width: 564px;
    height: 460px;
  }
  .card-atividades h4 {
    font-size: 25px;
  }
  .card-atividades p {
    font-size: 19px;
    margin-top: 0px;
  }
  
  .card-atividades .card-img {
    height: 213px;
  }
  .card-atividades.left-1 {
    transform: translateX(-290px) scale(1) translateZ(0px);
    opacity: 1;
  }
  .card-atividades.center {
    z-index: 10;
    transform: scale(1) translateX(290px);
  }
}
@media(max-width:1265px) {
  .card-atividades {
    width: 524px;
    height: 420px;
  }
  .card-atividades h4 {
    font-size: 22px;
  }
  .card-atividades p {
    font-size: 17px;
    margin-top: -5px;
  }
  .card-atividades.left-1 {
    transform: translateX(-270px) scale(1) translateZ(0px);
    opacity: 1;
  }
  .card-atividades.center {
    z-index: 10;
    transform: scale(1) translateX(270px);
  }
}
@media(max-width:1175px) {
  .card-atividades {
    width: 484px;
    height: 380px;
  }
  .card-atividades h4 {
    font-size: 22px;
  }
  .card-atividades p {
    font-size: 17px;
    margin-top: 0px;
  }
  .card-atividades .card-img {
    height: 163px;
    margin-bottom: 15px;
  }
  .card-atividades.left-1 {
    transform: translateX(-250px) scale(1) translateZ(0px);
    opacity: 1;
  }
  .card-atividades.center {
    z-index: 10;
    transform: scale(1) translateX(250px);
  }
}
@media(max-width:1114px) {
  .card-atividades {
    width: 624px;
    height: 520px;
  }
  .card-atividades h4 {
    font-size: 26px;
  }
  .card-atividades p {
    font-size: 20px;
    margin-top: 0px;
  }
  .card-atividades .card-img {
    height: 163px;
    margin-bottom: 15px;
  }
  .card-atividades.left-1 {
    opacity: 0;
  }
  .card-atividades.center {
    z-index: 10;
    transform: scale(1) translateX(0px);
  }
}
@media(max-width:760px) {
  .card-atividades {
    margin-top: 10px;
    width: 524px;
    height: 520px;
  }
  .card-atividades .card-img {
    height: 263px;
    margin-bottom: 15px;
  }
}
@media(max-width:660px) {
  .card-atividades {
    margin-top: 100px;
    width: 384px;
    height: 590px;
  }
  .card-atividades .card-img {
    height: 263px;
    margin-bottom: 15px;
  }
  .carousel-container-atividades{
    margin-bottom: 180px;
  }
}



/* ======== Seção de Contato ======== */
form {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #D9D9D9;
  width: 70%;
  height: auto;
  border-radius: 50px;
  margin: 0 auto;
  padding: 30px;
}

.JACK {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contatos-formulario {
  margin: 2px;
  display: flex;
  gap: 5em; /* espaço entre os dois links */
  justify-content: center; /* centraliza na horizontal */
  align-items: center; /* alinha verticalmente */
  flex-wrap: wrap; /* se a tela for pequena, eles descem certinho */
}
@media(max-width:700px) {
  .contatos-formulario span {
    font-size: 4.3vw !important;
  }

}
.contato-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 30px;
  color: #000;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 25px;
}

.contatos-formulario-whatsapp img,  .contatos-formulario-email img {
  width: 45px;
  height: auto;
}
.linhaformulario label {
  margin-bottom: 0em !important;
}
.campoformulario {
  width: 80%;
}

.linhaformulario{
  display: flex;
  text-wrap: nowrap;
  gap: 10vw;
}
@media(max-width:1024px) {
  label  {
    font-size: 20px !important;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
}
@media(max-width: 730px) {
  .linhaformulario{
    gap: 5vw;
  }
label  {
  font-size: 18px !important;
}
}
@media(max-width: 623px) {
  .linhaformulario {
    flex-wrap: wrap !important;
    margin-bottom: 3.5em !important;
  }
  .campoformulario{
    width: 100%;
  }
}

label {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  margin-top: 20px;
  margin-left: 0.5em;

}
.chega {
  margin-bottom: -1em;
}
input {
   font-family: "Poppins", sans-serif;
   font-size: 22px;
   width: 100%;
   height: 50px;
   border: 0;
   border-radius: 50px;
   padding-left: 10px;
   box-sizing: border-box;
   outline: none;
}

textarea {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  outline: none;
  width: 100%;
  resize: none;
  height: 15rem;
  padding: 10px 10px 10px 20px;
  border: 0;
  border-radius: 50px;
  box-sizing: border-box;
}
.campodetexto {
  margin-top: 2em;
}
input:focus, textarea:focus {
  border: 3px solid #0052cc;
}

/* Animação botões */

button.toma {
  position: relative;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #0052cc;
  width: 200px;
  height: 50px;
  border-radius: 100px;
  border: none;
  margin: 20px 50px;
  z-index: 1;
  transition: color 0.3s ease;
  cursor: pointer;
}
@media(max-width: 1080px) {
  form {
    width: 80% !important;
  }
    .chupingole {
      width: 80% !important;
    }

}
@media(max-width: 1008px) {
  form {
    width: 85% !important;
  }
  .chupingole {
    width: 85% !important;
  }
}
@media(max-width: 950px) {
  form {
    width: 90% !important;
  }
}
@media(max-width:673px) {
  .leticia {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
  }
  button.toma {
    margin-left: 0;
    margin-right: 0;
  }
}


button.toma {
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.4s ease;
  z-index: 0;
}

button:hover::before {
  top: 0;
}

button span {
  position: relative;
  z-index: 2;
}

/* Cores de fundo padrão */
#enviar {
  background-color: #ffffff;
}
@media(max-width: 1024px) {
  #enviar {
    background-color: #0052cc !important;
    color: white;
  }

}

#limpar {
  background-color: #ffffff;
}
#enviar:hover span {
  color: white;
}
/* Efeito hover com cores diferentes usando ::before */
#enviar::before {
  background-color: #0052cc; /* azul pro enviar */
}

#limpar:hover span {
  color: #ffffff; /* preto no texto quando hover */
}
#limpar::before {
  background-color: #E04E4E; /* vermelho pro limpar */
}

.onda-svg-footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-bottom: -1px;
}

.onda-svg-footer svg {
  display: block;
  width: 100%;
  height: 200px; /* você pode ajustar */
}

footer {
  position: relative;
  background-color: #ffc545;
  padding: 70px 20px 80px;
  text-align: center;
  color: white;
  z-index: 1;
  margin-bottom: -19px;
}

footer h3 {
  font-size: 28px;
  font-weight: bold;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  footer h3 {
    font-size: 18px;
  }
  .onda-svg-footer svg {
    height: 100px !important;
  }
}

@media (max-width: 480px) {
  footer h3 {
    font-size: 14px;
  }
}
@media (max-width: 1040px) {
  .onda-svg-footer svg {
    height: 160px;
  }
}


::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html, body {
  height: 100%; /* Melhora visualização */
  margin: 0; /* Remove espaçamento padrão */
  padding: 0;
}

.ocean { 
  height: 20%; /* ou mais, para você enxergar melhor */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave {
  background: url(/Assets/image/wave_amarelo_sem_gradiente.svg) repeat-x;
  position: absolute;
  top: -335px;
  margin-bottom: 200px;
  width: 6400px;
  height: 198px;
  animation: wave 11s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  animation: wave 11s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7000999s ease -1.25s infinite;
  opacity: 0.5;
  top: -333px;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

#toma {
  transform: scaleY(-1); /* Inverte verticalmente toda a onda */
}

.celulas {
  position: fixed;
  top: -50px !important;
  right: 0;
  height: 120%;
  row-gap: -20px !important;
  width: 200px !important;
  z-index: 999;
  background-color: rgba(67, 193, 84, 0.815);
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  display: none !important;
  flex-direction: column;
  align-content: flex-start !important;
  justify-content: flex-start !important;
  backdrop-filter: blur(10px);
  font-size: 40px !important;
}

nav #lista-1 {
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  font-weight: 500;
  font-size: large;
}
.show-sidebar {
  display: flex !important;
}


@media(max-width: 970px) {
  .navbar-textos, #logos-redessociais{
    display: none;
  }
  .navbar a {
    margin-right: 1em;
  }
  .menu {
    margin-right: auto !important;
  }
  .navbar a:hover {
    border-bottom: none !important;
  }
  #honra {
    margin-top: 2.5em;
    width: 4em !important;

  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 0px 0 !important; 
  }
}
.show-sidebar {
  display: flex !important;
}
@media (max-width: 970px) {
  .menu img {
    width: 40px !important;
    height: auto;
  }
}
@media (max-width: 1675px) {
  .navbar.shrink #logos-redessociais {
    gap: 6px !important;
    right: -40px !important;
    bottom: -13px;
  }

  .navbar.shrink #logos-redessociais img {
    width: 35px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
@media (max-width: 1440px) {
  .navbar.shrink #logos-redessociais {
    gap: 6px !important;
    right: -30px !important;
    bottom: -13px;
  }

  .navbar.shrink #logos-redessociais img {
    width: 35px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
@media (max-width: 1060px) {
  .navbar-textos {
    left: 48% !important;
  }
}

.caralho {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: auto;
  gap: 1em;
  flex-wrap: nowrap;
}
#vaitomando {
  background-color: #0052cc;
  padding: 2vw;
  border-radius: 50px 50px 50px 50px;
  margin: 0 auto;
  flex-shrink: 1;
} 
#texto-quem-somos {
  font-size: 1.6vw;
  font-weight: 600;
  text-align: justify;
  max-width: 30vw;
  width: 40vw;
  margin: -1em auto 0 auto;
  padding: 20px;
}

/* Responsividade para tablets */
@media (max-width: 1024px) {

  #texto-quem-somos {
    font-size: 2.4vw;
    max-width: 80vw;
    width: 80vw;
    margin-top: -80px;
  }
  #vaitomando img {
    width: 55vw !important;
  }
}

/* Responsividade para celulares */
@media (max-width: 686px) {
  #vaitomando img {
    width: 330px !important;
  }
  #texto-quem-somos {
    font-size: 20px;
    max-width: 90vw;
    width: 90vw;
    padding: 15px;
    margin-top: -60px;
  }
  .caralho {
    flex-wrap: wrap;
    gap: 0 !important;
    row-gap: 1em !important;
    margin-bottom: -5em !important;
  }
  
}


#vaitomando img {
  width: 42vw;
  height: auto;
  display: block;
}
h4 {
  color: #0052cc;
  font-size: 2.5em;
}
.chupingole {
  display: flex;
  flex-direction: column;
  gap: 2em;  
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
@media(max-width:950px) {
  .chupingole {
    width: 95% !important;
  }
}

.pergunta {
  display: flex;
  justify-content: space-between; /* separa o título da seta */
  align-items: center;
  padding: 1rem;
  background: #d9d9d9; 
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.pergunta h3 {
  font-size: 1.5rem;
  margin: 0 auto; /* centraliza horizontalmente */
  flex: 1;         /* ocupa o espaço disponível */
  text-align: center;
}
.pergunta:hover {
  background: #0052cc;
  color: white;
}
.pergunta span {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* impede encolhimento */
}
.pergunta span img {
  width: 100%;
}
.resposta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5 ease, padding 0.3s ease;
  background: #d9d9d9;
  border: #d9d9d9;
  border-radius: 0 0 30px 30px;
}
.resposta p {
  font-size: 20px;
  padding: 0 1rem 1rem;
  color: black;
  font-weight: 500;
}

.fodase.active .pergunta {
  border-radius: 30px 30px 0 0;
  background: #43C153;
  color: white;
}
.fodase.active .pergunta:hover {
  color: rgb(255, 255, 255);
}


.fodase.active .pergunta span {
  transform: rotate(180deg);
}
.fodase.active .resposta {
  max-height: 500px; 
  padding: 0 1rem;
}
@media (max-width:1000px) {
  .pergunta h3 {
    font-size: 1.3rem;
  }
  .chupingole {
    width: 75%;
  }
}
@media (max-width:700px) {
  .pergunta h3 {
    font-size: 1.2rem;
  }
  .chupingole {
    width: 75%;
  }
}

#mamando-piru {
  display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      min-height: auto;
      gap: 1em;
      flex-wrap: nowrap;
}
.piru {
  font-size: 1.44vw;
  text-align: justify;
  height: 30vw;
  padding: 20px; 
  width: 42vw;
  color: white;
  background: #43C153;
  border-radius: 10% 30% 10% 30%;
}
@media(max-width: 900px) {
  #SIPA img {
    width: 450px !important;
  }
}
.piru p {
  margin-top: 2.5vw; 
  font-weight: 700;
  width: 36vw;
  margin-left: auto;
  margin-right: auto;
}
@media(max-width: 1024px) {
  #mamando-piru {
    flex-wrap: wrap !important;
  }
  .piru p {

    width: 440px;
  }
  .piru {
    font-size: 19px;
    height: 400px; 
    width: 520px;
  }
}
@media(max-width: 620px) {
  .piru p {
    margin-top: 5px;
    width: 360px;
  }
  .piru {
    font-size: 17px;
    height: 350px; 
    width: 450px;
  }
  #SIPA img {
    width: 400px !important;
    margin-bottom: -3.5em !important;
  }
}
@media(max-width: 520px) {
  .piru p {
    margin-top: 5px;
    width: 310px;
  }
  .piru {
    font-size: 16px;
    height: 360px; 
    width: 400px;
  }
}
@media(max-width: 450px) {
  .piru p {
    margin-top: 20px;
    width: 260px;
  }
  .piru {
    font-size: 14.5px;
    height: 380px; 
    width: 300px;
  }
  #SIPA img {
    width: 300px !important;
    margin-right: -1.5em;
  }
}

#SIPA {
  margin-top: 1em;
  margin-right: 1em;
}
@media (max-width: 1040px) {
  .wave {
    top: -350px !important;
    height: 120px;
  }

  .wave:nth-of-type(2) {
    height: 197px;
  }
}

.contentWrapper {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.contentInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.contentInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 1.25px;
  color: #333;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  right: 0;
  width: 250px;
  margin-top: 90px;
  transform: translateX(2950px);
  transition: transform 250ms ease-in-out;
  background: #43C153;
}
.sidebarMenuContent {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.20);
}
.sidebarMenuContent li {
  list-style: none;
  color: #fff;
  font-weight: bold;
  margin-left: 1em;
  padding: 20px;
  cursor: pointer;
}
.sidebarMenuContent li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.70);
}
.sidebarMenuContent li a {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.celular {
  margin-bottom: -2em;
}
.sidebarToggleIcon {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  display: flex !important;
  flex-direction: column; /* ADICIONAR */
  gap: 1px; /* ADICIONAR (opcional, espaço entre as barras) */
  right: 10px;
  width: 22px;
  transform: translateY(-50%); /* ADICIONAR para centralizar verticalmente */
}

.bar {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarToggleIcon > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarToggleIcon > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarToggleIcon > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -11px;
}
@media(max-width: 768px) {
  .sidebarToggleIcon {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    display: flex !important;
    width: 100%;
    top: 30%;
    height: 22px;
    width: 22px;
  }
}

@media(min-width: 769px) {
  @media(max-width: 1024px) {


  .sidebarToggleIcon {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    right: 40px;
    height: 200%;
    display: flex !important;
    width: 200%;
    top: 37%;
    gap: 5px;
    height: 32px;
    width: 22px;
  }
  .bar {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 55px;
  width: 200%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarToggleIcon > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarToggleIcon > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 11px;
}
input[type=checkbox]:checked ~ .sidebarToggleIcon > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -11px;
  top: -15px;
}
a {
  font-size: 22px !important;
}
#honra{
  margin-top: 3em;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  right: 0;
  width: 370px;
  margin-top: 140px;
  transform: translateX(370px);
  transition: transform 250ms ease-in-out, margin-top 300ms ease; /* <-- adiciona aqui */
  background: #43C153;
}

/* Atenção: não pode ter .shrink #sidebarMenu isolado! */
/* Tem que ser .navbar.shrink ~ #sidebarMenu ou algo parecido */
.shrink {
  #sidebarMenu {
    margin-top: 110px;
    transition: transform 250ms ease-in-out, margin-top 300ms ease;
  }
}
}
}
@media(min-width: 970px) {
  .sidebarToggleIcon {
    display: none !important;
  }
}

@media(max-height: 845px) {
  #honra {
    margin: 0;
    width: 2.5em !important;
    padding: 0;
    margin-left: 0;
  }

  a {
    margin: 0 !important;
  }

  .iphone {
    margin-left: 1em !important;
  }
  li {
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .sidebarMenuContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* começa do topo */
    height: 100%; /* importante para o comportamento correto */
  }

  .baixo {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto; /* empurra pro final */
    padding-bottom: 4.5em;
  }

  #sidebarMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
}
